
body {

background:#cccccc;
font-family:tahoma;
font-size:11px;
}





.main
{
margin:5px;
background:white;
border:1px solid green;
padding:5px;
margin:20%;
margin-top:5px;
margin-bottom:3px;
color:black;
}
a
{text-decoration:none;
font-weight:bold;
}
.inpt
{
font-weight:bold;
border:1px solid #cccccc;
background:green;
color:white;
margin:5px;
padding:5px;
font-family:tahoma;
font-size:11px;
}
hr
{
line-width:1px;
}
.list
{
background:green;
color:white;
padding:5px;
box-shadow: 3px 2px 3px 2px #cccccc;
}

.content
{
background:#cccccc;
color:#666666;
margin:15px;
padding:5px;
box-shadow: 3px 2px 3px 2px #cccccc;
}
.stcinput 
{
font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:10px;
background:white;
color:#555;
border:1px solid #cccccc;
font-weight:bold;
padding:2px;
border-radius:6px;
margin:2px;
}














